{{ partial "header.html" . }}
<div class="header">
    {{ partial "prev_next_post.html" . }}
    <h1>{{ .Title }}</h1>
    <h2>{{ .Description }}</h2>
</div>
<div class="content">
    <div class="reponsive-viewport">


<div class="w3-bar w3-red">
  <a href="#" class="w3-bar-item w3-button">Home</a>
  <a href="#" class="w3-bar-item w3-button w3-hide-small">Link 1</a>
  <a href="#" class="w3-bar-item w3-button w3-hide-small">Link 2</a>
  <a href="#" class="w3-bar-item w3-button w3-hide-small">Link 3</a>
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="myFunction()">&#9776;</a>
</div>

<div id="demo" class="w3-bar-block w3-red w3-hide w3-hide-large w3-hide-medium">
  <a href="#" class="w3-bar-item w3-button">Link 1</a>
  <a href="#" class="w3-bar-item w3-button">Link 2</a>
  <a href="#" class="w3-bar-item w3-button">Link 3</a>
</div>

<div class="w3-container">
  <p>In the example, the navigation bar is replaced with a button (☰) in the top right corner when shown on tablets and mobile devices. When the button is clicked, the links in the bar will vertically stack.</p>
  <p>Resize the screen to see the effect.</p>
</div>

<script>
function myFunction() {
  var x = document.getElementById("demo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>



-->
        Locations sidebar navigation
        Locations & Hours
        Bookmobile
        Phone & Email Directory
        Calendar of Events
        Focus
        Read!
        Fly by night
        Twelve-year-old Mosca Mye lives in a land superficially similar to, but also fantastically divergent from, ... [Continue]
        main area
        Upcoming Events @ the Library
        View all events
        Happy New Year
        Tuesday, January 1 (12:00 AM - 11:59 PM)
        Location: Systemwide
        All branches are closed. Happy New Year to all!
        <!--Ribbon Arts Guild @Scotts Valley
        Wednesday, January 2 (10:00 AM - 1:00 PM)
        Location: Scotts Valley
        Join Roxanne Langan for ribbon work and hand sewing from 10:00am-1:00pn on the first and third Wednesdays of each month at the Scotts Valley Library. This program is sponsored by the Scotts Valley Friends of the Library. For more information, phone the library at 427-7712
        One-on-One Tech Tutoring @ Aptos
        Wednesday, January 2 (12:00 PM - 1:00 PM)
        Location: Aptos
        Trying to play with technology and getting frustrated? A tech savvy librarian will provide instruction in the use of a wide range of technology services: How to use free downloadable content available from your library in a number of formats (eBooks, eAudiobooks, and streaming video) Introduction to SCPL databases (i.e. Consumer Reports, Community Information, etc…) Creating an email account Downloading and attaching files Word processing direction and support Drop-in weekly appointments, 20 minute slots available. To best support learning, please bring the following items: devices (i.e., laptops, tablets, and/or smartphones), necessary passwords (Google Play, App Store), and library card! First-come, First-served. FREE!
        Volunteer Housing Navigators @ Downtown
        Wednesday, January 2 (12:30 PM - 2:30 PM)
        Location: Downtown
        Room: Downtown Downstairs Meeting Room
        Are you currently experiencing homelessness? Work with a compassionate and effective community volunteer or "housing navigator," who can help you set goals, overcome barriers, access documents and search for opportunities, helping you to transition back into housing, health and wellness.
        Genealogical Society Lecture Series @ Downtown
        Wednesday, January 2 (1:00 PM - 3:00 PM)
        Location: Downtown
        The Genealogical Society of Santa Cruz County presents the 2019-2020 Genealogy Lecture Series. Join us the first Wednesday of each month to learn about a variety of resources, strategies, and tools in the field of family research. All are invited to these free events, and donations are welcome. For more information, please call the Genealogical Society of Santa Cruz County (831) 427-7707 extension 5794.
        Digital Skills Workshop @ Downtown
        Wednesday, January 2 (4:30 PM - 6:00 PM)
        Location: Downtown
        Join our FREE hands-on workshops and learn to use the Internet for research, work, social interaction and more. Each week we explore new topics, such as Browsers, Searching, Email, and Google Docs. No registration required. Just drop in!
        TOPIC: Internet browsers
        Board in the Library
        Wednesday, January 2 (6:30 PM - 8:30 PM)
        Location: Scotts Valley
        Adults need playtime too! Join this program for hours of tabletop gaming fun. Bring your favorite board game or play some of the library's many games like Settlers of Catan, Pandemic, or Ticket to Ride. No prior gaming experience is necessary.
        Working Together @ Downtown
        Thursday, January 3 (10:00 AM - 11:30 AM)
        Location: Downtown
        Room: Downtown Downstairs Meeting Room
        Information navigation and social support open to all. Work individually with an infomration advocate on any infomration need: (housing search, application, resume?). Make a phone call or get help with free scanning, printing or email. Apply for a lifeline phone or get connected to a local program or service. You decide, we assist.
        Capitola Book Discussion Group @ Aptos
        Thursday, January 3 (10:00 AM - 11:00 AM)
        Location: Aptos
        The Capitola Book Discussion Group meets every 1st Wednesday of the month at 10:00am. We will be meeting at Aptos Library due to Capitola closure. All adults are welcome. For more information, call (831) 427-7702.
        This month we will be reading, A Natural History of the Senses written by Diane Ackerman.
        Death Café @ Downtown
        Thursday, January 3 (10:30 AM - 12:00 PM)
        Location: Downtown
        Room: Downtown Upstairs Meeting Room
        Come gather to eat cake, drink tea and discuss death. A Death Café is a group directed discussion of death with no agenda, objectives or themes. It is not a grief support group or counseling session, just some folks getting together to eat cake and talk about death. Program provided by Hospice of Santa Cruz County. For more information contact Vanessa at Hospice of Santa Cruz County 831-430-3047 or visit: deathcafe.com/
        buttom menu
        #Search
        Catalog
        Website
        Mobile App
        #Subscribe
        SCPL News - Sign Up / Read
        NextReads Newsletters
        SCPL Teacher Newsletter
        RSS Feeds
        #Support
        SCPL Friends
        Volunteer
        Donate
        Library Value Calculator
        #About SCPL
        About Us
        What's New?
        Library Boards
        Governance & Funding
        Planning Documents
        Library Policies
        Library Employment
        #Contact
        Email Us
        Phone⁄Email
        Text 831.264.0647
        Locations
    -->
    </div><!-- end reponsive-viewport -->
</div>
{{ partial "footer.html" . }}